article{
	margin-bottom: 2%;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cat_actu_serie{
	box-sizing: border-box;
	width: 100%;
	height: 200px;
}
.cat_actu_site{
	box-sizing: border-box;
	width: 100%;
}
#aside1{
	display: none;
}
#avertissement{
	max-width: 80%;
	width: 80%;
}
#main{
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 2%;
}
#inmain_articles{
	width: 100%;
}
#inmain_liens{
	align-self: center;
	width: 95%;
	margin-bottom: 2%;
}